/* default css properties */
:root {
    font-family: 'Open sans', serif, sans-serif;
}

html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
/* color variables */
    --homepage-bcg: linear-gradient(to right, #75a7c6, #d88779);
}

/* nav component for every page*/
.navbar{
    padding: 0.1rem;
 }

 .navbar img{
    width:2rem;
    height:2rem;
}
.navbar-right{
    margin: 0.5rem;
}

/* search component for every page*/
.search-container{
    flex-basis: 23%;
    border-radius: 1.5rem;
    background: var(--white)
 } 

.search-bar{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
    margin: 0.5rem;
}

.fa-search{
    color: var(--primary);
    margin-right: 0.625rem;
}

/* other common css constants */
a{
    color: inherit;
    text-decoration: inherit;
}

.display-col-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}